.single-post-card {
  margin: 1rem;
  background-color: var(--white);
  padding: 1.5rem 0.7rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.post-profile {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: var(--primary);
}
.user-name-1 {
  color: var(--light-font-clr);
}
.user-name-2 {
  color: var(--gray);
}

.post-date,
.post-time {
  font-size: 0.9rem;
  margin-right: 0.6rem;
  color: var(--gray);
  display: inline-block;
  margin-top: 0.3rem;
}

.options-icon {
  color: var(--gray);
  align-self: center;
  padding: 0.3rem;
}

.options-icon:hover {
  box-shadow: 0px 2px 4px rgba(29, 155, 240, 0.3);
  border-radius: 1rem;
}

.post-desc {
  padding: 1.4rem 0;
  padding-bottom: 0.9rem;
  color: var(--gray);
  border-bottom: 1px solid var(--border-clr);
  margin-bottom: 0.5rem;
}
.like-option,
.bookmark-option,
.comment-option,
.share-option {
  margin-right: 1rem;
  cursor: pointer;
  color: var(--gray);
}

.like-icon,
.bookmark-icon-2,
.comment-icon,
.share-icon {
  font-size: 1.2rem;
  color: var(--gray);
  margin-right: 0.2rem;
}
.bookmark-icon-2,
.comment-icon {
  font-size: 1rem;
}

.share-icon {
  font-size: 1.3rem;
}
.option {
  color: var(--primary);
}
/*  */
.comment-box {
  margin-top: 0.5rem;
  flex-wrap: wrap;
  position: relative;
}

.comment-profile-icon {
  font-size: 1.6rem;
  color: var(--primary);
  width: 10%;
  top: 6px;
  position: absolute;
}
.comment-inner-box {
  width: 85%;

  padding: 0.3rem 0rem;
  border-radius: 0.5rem;
  /* flex-wrap: wrap; */
}
.comment-input {
  width: 80%;
  border: none;
  outline: none;
  border: 1px solid #bfc4c8;
  padding: 0.3rem 0.5rem;
  padding-left: 1.7rem;
  color: var(--gray);
  font-size: 0.9rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.post-comment-btn {
  /* width: 15%; */
  background-color: var(--primary);
  font-size: 0.9rem;
  color: var(--white);
  border: none;
  font-weight: bold;
  padding: 0.32rem 0.5rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  position: absolute;
  right: 20%;
}

.comments-container {
  margin-top: 1rem;
  margin-left: 7%;
  width: 80%;
}

.post-user-img {
  width: 40px;
}

@media (min-width: 600px) {
  .comment-profile-icon {
    width: 5%;
  }
  .comment-input {
    width: 88%;
  }
  .post-desc {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .single-post-card {
    margin: 0;
    margin-bottom: 1rem;
  }
  .post-date,
  .post-time {
    font-size: 0.96rem;
  }
  .user-name-1 {
    font-size: 1.2rem;
  }
  .user-name-2 {
    font-size: 1.1rem;
  }
  .comment-input,
  .post-comment-btn {
    font-size: 1rem;
  }

  .post-user-img {
    width: 50px;
  }
}
