.hide-on-md {
  display: none;
}

.add-post-bar,
.trending-latest-box {
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--gray);
  font-size: 0.95rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.addpost-profile-icon,
.addpost-plus-icon {
  font-size: 1.4rem;
  color: var(--primary);
  margin-right: 0.5rem;
}

.trending-box:hover,
.latest-box:hover {
  color: var(--primary);
}
.trending-btn:hover,
.latest-btn:hover {
  color: var(--primary);
}
.trending-btn,
.latest-btn {
  background-color: var(--white);
  border: none;
  color: var(--gray);
  font-size: 0.9rem;
  padding-left: 0.3rem;
}

.posts {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .hide-on-md {
    display: block;
    position: sticky;
    top: 0px;
    height: 100px;
    padding-top: 1.5rem;
    background-color: var(--bg-color);
  }
  .add-post-bar {
    margin-left: 0;
    margin-right: 0;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .trending-btn,
  .latest-btn {
    font-size: 1rem;
  }
}
